.player{
    background: #E5E5E5;
    width: 375px;
    height: 812px;
    padding:23px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .player__top{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .player__music{
        display: flex;
        flex-direction: column;
        align-items: center;
        .music__img{
            padding:15px;
            background: #E9EDF0;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 5px 5px 20px rgba(199, 202, 204, 0.6), inset -5px -5px 20px #FFFFFF;
            img{
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
            }
            margin-bottom: 30px;
        }
        .music__text{
            font-size: 20px;
            color: #828587;
        }
    } 
    // TODO: Доделать страницу
}